.banner-content {
    color: white;
    h2 {
        font-size: 45px;
        text-transform: capitalize;
      }
      p {
        max-width: 500px;
        margin: 30px auto;
      }
      a{
        margin: 0 10px;
      }
  }